* {
  box-sizing: border-box;
}

body {
  background-color: orange;
}

.preview,
textarea {
  background-color: white;
  min-height: 400px;
  width: 400px;
  overflow: scroll;
}

@media screen and (max-width: 676px) {
  .preview,
  textarea {
    width: auto;
  }
}
